<h1>March 7th, 2021</h1>

Go <a href = "/">back</a>
Increase in individuals with confirmed or probable COVID-19 per the expanded CSTE case definition of April 5th, 2020 <a href = "https://wwwn.cdc.gov/nndss/conditions/coronavirus-disease-2019-covid-19/case-definition/2020/">approved by the CDC.</a>
